body {
  width: 95vw;
  height: 95vh;

  background: #c7d0da;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

a > img {
  width: 700px;
  height: 400px;
}
